################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostWithHostFxr/bin/Debug
/HostWithHostFxr/src/.vs/HostWithHostFxr
/HostWithHostFxr/src/DotNetLib/obj
/HostWithHostFxr/src/NativeHost/bin/Debug/net5.0
/HostWithHostFxr/src/NativeHost/Debug
/HostWithHostFxr/src/NativeHost/obj
